#rand {
    width: 340px;
    height: 320px;
    border: 1px solid black;
    margin-left: 10px;
}

#player, #player2 {
 position:absolute;
 width:30px;
 height:30px;
}

#ball, #ball2 {
 position:absolute;
 width:10px;
 height:10px;
}

#box, #box2 {
 position:absolute;
 width:30px;
 height:30px;
}

.box{
	width: 30px;
	height: 30px;
}

.ball{
	width:10px;
 	height:10px;
}

.hidden{
	visibility: hidden;
}

#tableHighscore{
	border: 1px solid black;
}

table, th, td {
    border: 1px solid black;
    width: 300px;
}

.modal-footer {   border-top: 0px; }

#highscoreTableDiv{
  margin-top: -400px;

}

th {
    background: #337AB7;
}
